body {
    background-color: #ccc;
    font-family: 'Times New Roman', Times, serif;
    color: #222;
}
img {
    width: 100%;
}

.card {
    background-color: #f3f3f3
    margin 50px auto;
    width: 400px 
    text-align center;



}